<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Información del Ingreso</h4>
  </div>
  <div class="panel-body">
    <!--<p id="notice">-->
      <!--<%= notice %>-->
    <!--</p>-->
    <table class="table table-striped">
      <tr>
        <td><strong>Tienda:</strong></td>
        <td><%= @entry.store.name%></td>
      </tr>
      <tr>
        <td><strong>Item:</strong></td>
        <td><%= @entry.item.name %></td>
      </tr>
      <tr>
        <td><strong>Cantidad</strong></td>
        <td><%= @entry.quantity %></td>
      </tr>
    </table>
  </div>

  <div class="panel-footer">
    <div class="row text-right">
      <%= link_to 'Modificar', edit_entry_path(@entry), class: "btn btn-primary" %>
      <%= link_to 'Reporte de Ingresos', entries_path, class: "btn btn-info" %>
    </div>
  </div>
</div>



