<%= form_for(store) do |f| %>
    <div class="panel-body">
      <% if store.errors.any? %>
          <div id="error_explanation">
            <h4>El formulario contiene los siguientes errores:</h4>
            <ul>
              <% store.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-2 control-label">
            <%= f.label :name%>
          </div>
          <div class="col-sm-9">
            <%= f.text_field :name, class:"form-control"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">
            <%= f.label :description%>
          </div>
          <div class="col-sm-9">
            <%= f.text_area :description, class:"form-control"%>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row text-right">
        <%= f.submit class: "btn btn-primary"%>
        <%= link_to 'Atrás', stores_path, class: "btn btn-info"%>
      </div>
    </div>
<% end %>
