<%= form_for(store) do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-3" >
      <%= f.label :name%>
    </div>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-text text-muted"%>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-md-3" >
      <%= f.label :description%>
    </div>
    <div class="col-md-9">
      <%= f.text_area :description, class: "form-text text-muted" %>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :administrator_id%>
    </div>
    <div class="col-md-9">
      <%= f.text_field :administrator_id, class: "form-text text-muted"%>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :clerk_id%>
    </div>
    <div class="col-md-9">
      <%= f.text_field :clerk_id, class: "form-text text-muted"%>
    </div>
    <br>
  </div>


<div class="row">
  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>


<% end %>
