<p id="notice"><%= notice %></p>

<h1>Tiendas</h1>

<br>

<table class="table datatable table-bordered table-striped table-condensed table-hover text-center">
  <thead>
  <tr>
    <th class="text-center">Tienda</th>
    <th class="text-center">Descripción</th>
    <th class="text-center">Administrador</th>
    <th class="text-center">Dependiente</th>
    <th class="text-center">Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.description %></td>
        <td><%= store.administrator_id %></td>
        <td><%= store.clerk_id %></td>
        <td><%= link_to 'Mostrar', store, class: "btn btn-primary" %>
          <%= link_to 'Modificar', edit_store_path(store), class: "btn btn-primary" %>
          <%= link_to 'Eliminar', store,  class: "btn btn-danger", method: :delete, data: { confirm: 'Estas Seguro de Eliminar la Tienda?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Tienda', new_store_path ,  class: "btn btn-primary"%>
