<div class="panel panel-info">
  <div class="panel-heading">
    <h3>Información de la Tienda</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <td><strong>Nombre:</strong></td>
        <td><%= @store.name%></td>
      </tr>
      <tr>
        <td><strong>Descripcion</strong></td>
        <td><%= @store.description %></td>
      </tr>
    </table>

    <table class="table datatable table-bordered table-striped table-condensed table-hover text-center">
      <thead>
      <tr>
        <th class="text-center">Articulo</th>
        <th class="text-center">Cantidad</th>
      </tr>
      </thead>
      <tbody>
      <% @store.stocks.each do |stock| %>
          <tr>
            <td><%= stock.item.name %></td>
            <td><%= stock.quantity %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <table class="table datatable table-bordered table-striped table-condensed table-hover text-center">
      <thead>
      <tr>
        <th class="text-center">Items</th>
        <th class="text-center">Total Perdida</th>
        <th class="text-center">Total Exceso</th>
        <th class="text-center">Fecha</th>
      </tr>
      </thead>
      <tbody>
      <% @store.snapshots.each do |snapshot| %>
          <tr>
            <td><%= snapshot.summary %></td>
            <td><%= snapshot.total_loss %></td>
            <td><%= snapshot.total_excess %></td>
            <td><%= snapshot.created_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <div class="row text-right">
      <%= link_to 'Modificar', edit_store_path(@store), class: "btn btn-primary" %>
      <%= link_to 'Atrás', stores_path , class: "btn btn-info" %>
    </div>
  </div>
</div>



