<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table class="table datatable table-bordered table-striped table-condensed table-hover text-center">
  <thead>
    <tr>
      <th class="text-center">Tienda</th>
      <th class="text-center">Articulo</th>
      <th class="text-center">Cantidad</th>
<!--       <th class="text-center">Acciones</th> -->
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.store.name unless stock.store.nil? %></td>
        <td><%= stock.item.name unless stock.item.nil? %></td>
        <td><%= stock.quantity %></td>
<!--         <td><%= #link_to 'Show', stock, class: "btn btn-primary" %>
        <%= #link_to 'Edit', edit_stock_path(stock), class: "btn btn-primary" %>
        <%= #link_to 'Destroy', stock, class:"btn btn-danger", method: :delete, data: { confirm: 'Estas Seguro de Elimiar la Venta' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= #link_to 'New Stock', new_stock_path, class: "btn btn-primary" %> -->
