
<p id="notice"><%= notice %></p>

<h1>Inventario Base</h1>

<table class="table datatable table-bordered table-striped table-condensed table-hover text-center">
  <thead>
  <tr>
    <th class="text-center">Tienda</th>
    <th class="text-center">Artículo</th>
    <th class="text-center">Cantidad</th>
  </tr>
  </thead>

  <tbody>
  <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.store.name unless stock.store.nil? %></td>
        <td><%= stock.item.name unless stock.item.nil? %></td>
        <td><%= stock.quantity %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Generarar Inventario Base', new_stock_path, class: "btn btn-primary" %>

