<p id="notice"><%= notice %></p>

<br>

<h1>Usuarios</h1>

<table class="table datatable table-bordered table-striped table-condensed table-hover text-center">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>Correo</th>
    <th>Comentarios</th>
    <th>Password X eliminar</th>
    <th>Rol</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.comments %></td>
        <td><%= user.password %></td>
        <td><%= user.rol %></td>
        <td><%= link_to 'Mostrar', user, class: "btn btn-primary" %>
          <%= link_to 'Editar', edit_user_path(user), class: "btn btn-primary" %>
          <%= link_to 'Eliminar', user, class: "btn btn-danger", method: :delete, data: {confirm: 'Estas Seguro de Eliminar el Usuario?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Usuario', new_user_path, class: "btn btn-primary" %>
