<div class="panel panel-info">
  <div class="panel-heading">
    <h3>Información del Usuario</h3>
  </div>

  <div class="panel-body">
    <p id="notice">
      <%= notice %>
    </p>

    <table class="table table-striped">
      <tr>
        <td><strong>Nombre:</strong></td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td><strong>Telefono</strong></td>
        <td><%= @user.phone %></td>
      </tr>
      <tr>
        <td><strong>Correo</strong></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td><strong>Comentarios</strong></td>
        <td><%= @user.comments %></td>
      </tr>
      <tr>
        <td><strong>Contrasena</strong></td>
        <td><%= @user.password %></td>
      </tr>
      <tr>
        <td><strong>Rol</strong></td>
        <td><%= @user.rol_id %></td>
      </tr>
    </table>
  </div>

  <div class="panel-footer">
    <div class="row text-right">
      <%= link_to 'Modificar', edit_user_path(@user), class: "btn btn-primary" %>
      <%= link_to 'Atrás', users_path, class: "btn btn-info" %>
    </div>
  </div>
</div>



