<p id="notice"><%= notice %></p>

<h1>Articulos</h1>

<table  class="table datatable table-bordered table-striped table-condensed table-hover text-center">
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Descripcion</th>
      <th class="text-center">Precio</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Mostrar', item, class:"btn btn-primary" %>
        <%= link_to 'Editar', edit_item_path(item), class:"btn btn-primary" %>
        <%= link_to 'Eliminar', item, class: "btn btn-danger", method: :delete, data: { confirm: 'Esta Seguro de Eliminar el Articulo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Articulo', new_item_path, class:"btn btn-primary" %>
