<h1>Ventas</h1>

<table class="table datatable table-bordered table-striped table-condensed table-hover text-center">
  <thead>
    <tr>
      <th class="text-center">Tienda</th>
      <th class="text-center">Artículo</th>
      <th class="text-center">Cantidad</th>
      <th class="text-center">Precio de Venta</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.store.name unless sale.store.nil? %></td>
        <td><%= sale.item.name unless sale.item.nil? %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.sale_price %></td>
        <td><%= link_to 'Mostrar', sale, class: "btn btn-primary" %>
        <%= link_to 'Modificar', edit_sale_path(sale), class: "btn btn-primary" %>
        <%= link_to 'Eliminar', sale, class:"btn btn-danger", method: :delete, data: { confirm: 'Estas Seguro de Elimiar la Venta' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Reportar Venta', new_sale_path, class: "btn btn-primary" %>
