<div class="panel panel-info">
	<div class="panel-heading">
		<h3>Información de la Venta</h3>
	</div>
	
	<div class="panel-body">
		<table class="table table-striped">
			<tr>
				<td><strong>Tienda:</strong></td>
				<td><%= @sale.store.name %></td>
			</tr>

			<tr>
				<td><strong>Artículo:</strong></td>
				<td><%= @sale.item.name %></td>
			</tr>

			<tr>
				<td><strong>Cantidad</strong></td>
				<td><%= @sale.quantity %></td>
			</tr>
				
			<tr>
				<td><strong>Precio de Venta</strong></td>
				<td><%= @sale.sale_price %></td>
			</tr>
		</table>
	</div>

	<div class="panel-footer">
		<div class="row text-right">
			<%= link_to 'Modificar', edit_sale_path(@sale), class: "btn btn-primary" %>
			<%= link_to 'Atrás', sales_path, class: "btn btn-info" %>
		</div>
	</div>
</div>



